<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block pagetitle %} {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'client/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="{% static 'client/css/orionicons.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'client/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'client/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'client/img/favicon.png' %}?">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>

    {% block bodycontent %} {% endblock %}

    <!-- JavaScript files-->
    <script src="{% static 'client/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'client/vendor/popper.js/umd/popper.min.js' %}"> </script>
    <script src="{% static 'client/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'client/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
    <script src="{% static 'client/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'client/js/charts-home.js' %}"></script>
    <script src="{% static 'client/js/front.js' %}"></script>
  </body>
</html>