{% extends 'client/user/base_user.html' %}
{% load static %}
{% block pagetitle %} Client - Login {% endblock %}
{% block bodycontent %}

<div class="page-holder d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
        <div class="pr-lg-5"><img src="{% static 'client/img/illustration.svg' %}" alt="" class="img-fluid"></div>
      </div>
      <div class="col-lg-5 px-lg-4">
        <h1 class="text-base text-primary text-uppercase mb-4">SystTech Blog</h1>
        <h2 class="mb-4">Welcome back!</h2>
        <p class="text-muted">
          SystTech Blog site client login panel. <br>
          Fully functional and developed by django.
        </p>

        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form id="loginForm" method="post" action="" class="mt-4">
          {% csrf_token %}
          <div class="form-group mb-4">
            <input type="text" name="username" placeholder="Username or Email address"
              class="form-control border-0 shadow form-control-lg">
          </div>
          <div class="form-group mb-4">
            <input type="password" name="password" placeholder="Password"
              class="form-control border-0 shadow form-control-lg text-violet">
          </div>
          <button type="submit" class="btn btn-primary shadow px-5">Log in</button>
        </form>

        <br>
        <h6>Don't have any account please <a href="{% url 'register' %}"> Register here. </a> </h6>

      </div>
    </div>
    <p class="mt-5 mb-0 text-gray-400 text-center">
      Developed by
      <a href="https://hasanthex.github.io" target="_blank" class="external text-gray-400">
        Muhammad Hasan</a>
    </p>
  </div>
</div>
{% endblock %}