{% extends 'client/layouts/base_client.html' %}
{% load static %}
{% block pagetitle %} Profile - client {% endblock %}
{% block bodycontent %}
    <section class="py-5">
        <div class="row">
            <ul>
                <div class="card">
                  <div class="card-header">
                    <h2 class="h6 text-uppercase mb-0">My Articles</h2>
                  </div>
                  <div class="card-body">
                     {% for p in post %}
                       <div class="col-lg-12"><a href="#" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                          <div class="row">
                            <div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                <strong class="h5 mb-0">
                                    24<sup class="smaller text-gray font-weight-normal">Apr</sup>
                                </strong>
                                <img src="{{ p.image.url }}" alt="..." style="max-width: 3rem" class="rounded-circle mx-3 my-2 my-lg-0">
                              <h6 class="mb-0">{{ p.title }}</h6>
                            </div>
                            <div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                              <div class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode">{{ p.category }}</div>
                              <p class="mb-0 mt-3 mt-lg-0">
                                  {{ p.body|truncatechars:50 }}
                              </p>
                            </div>
                          </div></a>
                       </div>
                {% endfor %}
                  </div>
                </div>

            </ul>
        </div>
    </section>
{% endblock %}