{% extends 'client/user/base_user.html' %}
{% load static %}
{% block pagetitle %} Client - Registration {% endblock %}

{% block bodycontent %}

<div class="page-holder d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-lg-5 px-lg-5" style="float: none; margin: 0 auto;">
        <h1 class="text-base text-primary text-uppercase mb-4">
          <a href="{% url 'index' %}">SystTech Blog</a>
        </h1>
        <h2 class="mb-4">User Registration Form!</h2>

        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form id="registerForm" method="post" action="" class="mt-4">
          {% csrf_token %}
          <div class="form-group mb-4">
            {{ form.first_name }}
          </div>
          <div class="form-group mb-4">
            {{ form.last_name }}
          </div>
          <div class="form-group mb-4">
            {{ form.username }}
          </div>
          <div class="form-group mb-4">
            {{ form.email }}
          </div>
          <div class="form-group mb-4">
            {{ form.password1 }}
          </div>
          <div class="form-group mb-4">
            {{ form.password2 }}
          </div>
          <div class="form-group mb-4 text-center">
            <button type="submit" class="btn btn-primary shadow px-5">Registration</button>
          </div>
        </form>

        <br>
        <h6>You already have an account ? please <a href="{% url 'login' %}"> Login here. </a> </h6>

      </div>
    </div>
    <p class="mt-5 mb-0 text-gray-400 text-center">
      Developed by
      <a href="https://hasanthex.github.io" target="_blank" class="external text-gray-400">
        Muhammad Hasan</a>
    </p>
  </div>
</div>
{% endblock %}