{% extends 'client/layouts/base_client.html' %}
{% load static %}
{% block pagetitle %} Dashboard {% endblock %}

{% block bodycontent %}
      <section>
        <div class="row py-5 mb-4">
          <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="card">
              <div class="card-header">
                <h2 class="h6 text-uppercase mb-0">Current server uptime</h2>
              </div>
              <div class="card-body">
                <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="chart-holder">
                  <canvas id="lineChart1" style="max-height: 14rem !important;" class="w-100"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}