{% extends 'client/layouts/base_client.html' %}
{% load static %}
{% block pagetitle %} Add Article {% endblock %}

{% block bodycontent %}
    <!-- Form Elements -->
    <section class="py-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Add New Article</h3>
                  </div>
                  <div class="card-body">

{#                      {{ form.non_field_errors }}#}
{#                      {{ form.source.errors }}#}
{#                      {{ form.source }}#}

                    <form method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                        {{ form.article_author }}
                      <div class="form-group row">
                        <label class="col-md-3 form-control-label">Title</label>
                        <div class="col-md-9">
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                      </div>

                      <div class="line"></div>
                          <div class="form-group row">
                            <label class="col-md-3 form-control-label">Article</label>
                            <div class="col-md-9">
                                {{ form.body }}
                                {{ form.body.errors }}
                            </div>
                          </div>
                      <div class="line"></div>


                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Article Image</label>
                            <div class="col-md-9">
                                {{ form.image }}
                            </div>
                          </div>
                        <div class="line"></div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Select an Category</label>
                            <div class="col-md-9 select mb-3">
                             {{ form.category }}
                            </div>
                      </div>

                      <div class="line"></div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Create Article</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
        </div>
    </section>
{% endblock %}