{% extends 'client/layouts/base_client.html' %}
{% block pagetitle %} Article List {% endblock %}

{% block bodycontent %}
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">

          {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-lg-12 mb-4 pull-right">
                    <a href="{% url 'create_article' %}" class="btn btn-primary ">Add New Article</a>
                </div>
                <div class="col-lg-12 mb-4">
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-uppercase mb-0">All Article</h6>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover card-text">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Details</th>
                          <th>Image</th>
                          <th>Action</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for p in post %}
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{ p.title }}</td>
                              <td>{{p.body|truncatechars:50}}</td>
                              <td>
                                  <img src="{{ p.image.url }}" alt="" width="100px" height="auto">
                              </td>
                              <td>
                                  <a href="{% url 'article_update' id=p.id %}"> Edit </a> |
                                  <a href="{%  url 'article_delete' id=p.id %}"> Delete </a>
                              </td>
                              <td>@mdo</td>
                            </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>
    </div>
{% endblock %}