{% extends 'base.html' %}


{% block bodycontent %}
    <section class="section single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-primary">Add Article</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}