{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs {% endblock %}

{% block bodycontent %}

    <section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">

{#            {% set position=0 %}#}
            {% for latest_p in latest %}
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <img src="{{ latest_p.image.url }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange">
                                        <a href="{% url 'category' name=latest_p.category %}" title="">
                                            {{ latest_p.category }}
                                        </a>
                                    </span>
                                    <h4><a href="{% url 'single' id=latest_p.id %}" title="">{{ latest_p.title }}</a></h4>
                                    <small><a href="tech-single.html" title="">{{ latest_p.posted_on }}</a></small>
                                    <small><a href="{% url 'author' name=latest_p.article_author.name.username %}" title="">
                                        by {{ latest_p.article_author.name.username }}</a>
                                    </small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->
            {% endfor %}

{#            <div class="second-slot">#}
{#                <div class="masonry-box post-media">#}
{#                    <img src="{% static 'upload/tech_02.jpg' %}" alt="" class="img-fluid">#}
{#                    <div class="shadoweffect">#}
{#                        <div class="shadow-desc">#}
{#                            <div class="blog-meta">#}
{#                                <span class="bg-orange"><a href="tech-category-01.html" title="">Gadgets</a></span>#}
{#                                <h4><a href="tech-single.html" title="">Do not make mistakes when choosing web#}
{#                                        hosting</a></h4>#}
{#                                <small><a href="tech-single.html" title="">03 July, 2017</a></small>#}
{#                                <small><a href="tech-author.html" title="">by Jessica</a></small>#}
{#                            </div><!-- end meta -->#}
{#                        </div><!-- end shadow-desc -->#}
{#                    </div><!-- end shadow -->#}
{#                </div><!-- end post-media -->#}
{#            </div><!-- end second-side -->#}

{#            <div class="last-slot">#}
{#                <div class="masonry-box post-media">#}
{#                    <img src="{% static 'upload/tech_03.jpg' %}" alt="" class="img-fluid">#}
{#                    <div class="shadoweffect">#}
{#                        <div class="shadow-desc">#}
{#                            <div class="blog-meta">#}
{#                                <span class="bg-orange"><a href="tech-category-01.html" title="">Technology</a></span>#}
{#                                <h4><a href="tech-single.html" title="">The most reliable Galaxy Note 8 images#}
{#                                        leaked</a></h4>#}
{#                                <small><a href="tech-single.html" title="">01 July, 2017</a></small>#}
{#                                <small><a href="tech-author.html" title="">by Jessica</a></small>#}
{#                            </div><!-- end meta -->#}
{#                        </div><!-- end shadow-desc -->#}
{#                    </div><!-- end shadow -->#}
{#                </div><!-- end post-media -->#}
{#            </div><!-- end second-side -->#}

        </div><!-- end masonry -->
    </div>
</section>

    <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">

                        {% for p in post %}
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="{% url 'single' id=p.id %}" title="">
                                        <img src="{{ p.image.url }}" alt="" class="img-fluid">
                                        <div class="hovereffect">{{p.category.name}}</div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="{% url 'single'  id=p.id %}" title="">{{ p.title }}</a></h4>
                                <p>{{ p.body|truncatechars:160 }}</p>
                                <small class="firstsmall">
                                    <a class="bg-orange" href="{% url 'category' name=p.category.name %}" title="">
                                        {{p.category.name}}
                                    </a>
                                </small>
                                <small><a href="tech-single.html" title="">{{p.posted_on}}</a></small>
                                <small>
                                    <a href="{% url 'author' name=p.article_author.name.username %}" title="">
                                        {{  p.article_author.name.username }}
                                    </a>
                                </small>
                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis"><!-- end blog-box -->
                        {% endfor %}
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">

                                {% if post.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ post.previous_page_number }}"><< Previous</a>
                                    </li>
                                {% endif %}

{#                                <li class="page-item">#}
{#                                    <a class="page-link" href="#">{{ post.paginator.num_pages }}</a>#}
{#                                </li>#}

                                {% if post.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ post.next_page_number }}"> Next >> </a>
                                    </li>
                                {% endif %}


                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Trend Blog</h2>
                        <div class="trend-videos">
                            {% for t in trend %}
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="{% url 'single' id=t.id %}" title="">
                                        <img src="{{t.image.url}}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span class="videohover"></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <h4>
                                        <a href="{% url 'single' id=t.id %}" title="">{{ t.title }}</a>
                                    </h4>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->

                            <hr class="invis">
                            {% endfor %}

                        </div><!-- end videos -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Posts</h2>
                        <div class="blog-list-widget">

                            <div class="list-group">

                                <a href="tech-single.html"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/tech_blog_08.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">5 Beautiful buildings you need..</h5>
                                        <small>12 Jan, 2016</small>
                                    </div>
                                </a>

                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Reviews</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">

                                <a href="tech-single.html"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5>
                                        <span class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </a>

                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>

                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button facebook-button">
                                    <i class="fa fa-facebook"></i>
                                    <p>27k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button twitter-button">
                                    <i class="fa fa-twitter"></i>
                                    <p>98k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button google-button">
                                    <i class="fa fa-google-plus"></i>
                                    <p>17k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button youtube-button">
                                    <i class="fa fa-youtube"></i>
                                    <p>22k</p>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}