{% extends 'base.html' %}

{% block bodycontent %}
    <section class="section single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <form action="" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="email">Username</label>
                        <input type="text" class="form-control" name="username" id="username" >
                      </div>
                      <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" name="password">
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}